body {
    text-align: center;
}

#pic {
    border-radius: 50%;
    width: 100px;
}

#welcome {
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    width: 100%;
    height: 70%;
}

.link {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    color: white;
    color: aquamarine;
}

.link:hover {
    background-color: dodgerblue;
}
#secondp{
    font-size: 15px;
}
